 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* General */
 html {
     font-family: 'Montserrat';
     background-color: #16161a;
 }

 .bold {
     font-weight: bold;
 }

 .row {
     margin: 0;
 }

 .card-panel {
     background-color: #242629;
     border: 3px solid black;
 }

 /* Project list (no project) */

 .noproject-wrapper {
     margin-top: 150px;
     padding: 80px 0px;
     border: 4px dashed #9e9e9e;
 }

 .noproject-wrapper h3 {
     padding: 10px;
     margin-bottom: 50px;
 }


 /* project add view */

 form ul li.category {

     display: inline-block;
     background-color: white;
     padding: 5px 10px;
     margin-right: 5px;
     border: 2px solid grey;
 }


 /* detail view statistics*/



.section-stats h1 {
    font-size: 4vw;
    margin: 15px 0px;
}

@media(max-width: 992px){
    .section-stats h1 {
        font-size: calc(16px + 6vw);
    }
}

/* detail view expenses */
.section-expenses button {
    padding: 0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    background-color: seagreen;
}

.section-expenses expense {
    font-size: 16px;
    border-radius: 0;
    margin: 0px;
}

.section-expenses .expense .category {
    font-size: 13px;
}

.section-expenses li:nth-child(even) .expense {
    background-color: #16161a;
}



.material-icons {
    cursor: pointer;
}


hr { background-color: whitesmoke; height: 2px; border: 0; }


.material-icons.md-30 { font-size: 30px; }

.material-icons.md-48 { font-size: 48px; }

hr.style1{
    background: black;
    margin-bottom: 10px;
}


.outer {
  position: relative;
  background-color: black;
}

.outer > a {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.inner {
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.inner a {
  pointer-events: all;
}



input[type=text] {
    color: white;
}

input[type=number] {
    color: white;
}

input[id=amount] {
    color: white;
}

input[id=title] {
    color: white;
}

label {
    color: white;
    font-weight: bold;
}

.selected {
    color: white;
}


.modal-content {
    background-color: #282828;
}
