{% extends 'scoring_app/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 style="color: #fffffe;margin-bottom: 0;">Game {{ game.pk }}<span style="color: #fffffe;font-size: 14px;"
            class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp; created on {{ game.date_created|date:'F d, Y' }}</span><a
            style="margin-top: 50px;" class="btn-small waves-effect bold right" href="{% url 'game-list' %}">Back to
            Game
            List</a></h1>
    <hr>
    <section class="section section-stats">
        <div class="row" style="color: #fffffe;">

            <div class="col s12 m12 l4">
                <div class="card-panel" style="white-space: nowrap;overflow: hidden;">
                    <h6 class="bold">Player</h6>
                    <h4 class="bold">{{ game.player_name.player_name }}</h4>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel" style="white-space: nowrap;overflow: hidden;">
                    <h6 class="bold">Cumulative Score</h6>
                    <h4 class="bold">10</h4>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <h6 class="bold">Final Score</h6>
                    <h4 class="bold green-text">300</h4>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-expenses">


        <!-- enter the bowling scoresheet html here -->
        {% include 'scoring_app/scoresheet.html' %}

        <div class="row" style="text-align: center;">
            <button style="background-color: #7f5af0;" class="btn-large waves-effect modal-trigger" href="#">
                <i class="material-icons md-30 white-text left">add_circle</i>
                Roll
            </button>
        </div>

    </section>

</div>



{% endblock content %}
