{% extends 'scoring_app/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 style="color: #fffffe;margin-bottom: 0;">Game {{ game.pk }}<span style="color: #fffffe;font-size: 14px;"
            class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp; created on {{ game.date_created|date:'F d, Y' }}</span><a
            style="margin-top: 50px;" class="btn-small waves-effect bold right" href="{% url 'game-list' %}">Back to
            Game
            List</a></h1>
    <hr>
    <section class="section section-stats">
        <div class="row" style="color: #fffffe;">

            <div class="col s12 m12 l4">
                <div class="card-panel" style="white-space: nowrap;overflow: hidden;">
                    <h6 class="bold">Player</h6>
                    <h4 class="bold">{{ game.player_id.player_name }}</h4>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel" style="white-space: nowrap;overflow: hidden;">
                    <h6 class="bold">Cumulative Score</h6>
                    <h4 class="bold">{{ game.cumulative_score }}</h4>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <h6 class="bold">Final Score</h6>
                    <h4 class="bold green-text">
                        {% if not game.in_progress %}{{ game.final_score }}{% else %}--{% endif %}</h4>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-expenses">


        <!-- enter the bowling scoresheet html here -->
        {% include 'scoring_app/scoresheet.html' %}


        {% if messages %}
        {% for message in messages %}
        <div class="well">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}


        {% if frame_active_count == 0 %}
        <h3 style="color: whitesmoke;text-align: center;">Game Over! Thanks for playing!</h3>
        {% endif %}
        <!-- enter frame loop here -->
        <form method="post">
            {% csrf_token %}
            {% for frame in frame_list %}
            {% if frame.frame_is_active and frame.extra_frame_is_active %}
            <div style="font-size: xx-large;margin-bottom: 30px;text-align: center;color: white;">
                Extra Turn!
            </div>

            <div style="text-align: center;">
                <label style="color: white;font-size: large; margin-right: 10px;">Pins Knocked</label>
                <input style="max-width: 40%;" type="range" name="roll_three" id="rollInputId3" value="0" min="0"
                    max="10" oninput="rollOutputId3.value = rollInputId3.value">
                <output style="font-size: larger;color: white;padding-right: 100px;" name="rollOutputName3"
                    id="rollOutputId3">0</output>
            </div>


            <div class="row" style="text-align: center;">
                <button type="submit" style="margin-top: 30px;background-color: #7f5af0;"
                    class="btn-large waves-effect modal-trigger" href="#">
                    <i class="material-icons md-30 white-text left">lens</i>
                    Roll
                </button>
            </div>

            {% elif frame.frame_is_active %}
            <div style="font-size: xx-large;margin-bottom: 30px;text-align: center;color: white;">Frame
                {{ frame.frame_no }}
            </div>

            <div style="text-align: center;">
                <label style="color: white;font-size: large; margin-right: 10px;">Pins Knocked Roll One</label>
                <input style="max-width: 20%;" type="range" name="roll_one" id="rollInputId" value="0" min="0" max="10"
                    oninput="rollOutputId.value = rollInputId.value">
                <output style="font-size: larger;color: white;padding-right: 100px;" name="rollOutputName"
                    id="rollOutputId">0</output>



                <label style="color: white;font-size: large; margin-right: 10px;">Pins Knocked Roll Two</label>
                <input style="max-width: 20%;" type="range" name="roll_two" id="rollInputId2" value="0" min="0" max="10"
                    oninput="rollOutputId2.value = rollInputId2.value">
                <output style="font-size: larger;color: white;" name="rollOutputName2" id="rollOutputId2">0</output>
            </div>

            <div class="row" style="text-align: center;">
                <button type="submit" style="margin-top: 30px;background-color: #7f5af0;"
                    class="btn-large waves-effect modal-trigger" href="#">
                    <i class="material-icons md-30 white-text left">lens</i>
                    Roll
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </form>



    </section>

</div>



{% endblock content %}
