{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scoring_app/scoresheet.css' %}">
</head>

<body>

    <h1 class="title" style="color: whitesmoke;font-size: 30px;">Bowling Score Card</h1>
    <div>
        <!-- Pins Hit: -->
        <!-- <button type="button" onclick="pinHit(0)" class="btn-small">Gutter</button>
        <button type="button" onclick="pinHit(1)" class="btn-small">1</button>
        <button type="button" onclick="pinHit(2)" class="btn-small">2</button>
        <button type="button" onclick="pinHit(3)" class="btn-small">3</button>
        <button type="button" onclick="pinHit(4)" class="btn-small">4</button>
        <button type="button" onclick="pinHit(5)" class="btn-small">5</button>
        <button type="button" onclick="pinHit(6)" class="btn-small">6</button>
        <button type="button" onclick="pinHit(7)" class="btn-small">7</button>
        <button type="button" onclick="pinHit(8)" class="btn-small">8</button>
        <button type="button" onclick="pinHit(9)" class="btn-small">9</button>
        <button type="button" onclick="pinHit(10)" class="btn-small">10</button> -->
    </div>
    <div id='scorecard'>
        <table id='scorecardTable' class='scorecard' cellpadding='1' cellspacing='0'>

            <tr>
                {% for frame in frame_list %}
                <th {% if frame.frame_is_active %}style="background-color: green;" {% endif %} colspan='6'>Frame
                    {{ frame.frame_no }}</th>
                {% endfor %}
            </tr>

            <tr>
                {% for frame in frame_list %}
                <td colspan='3'>{{ frame.roll_one }}</td>
                <td id="frame1" colspan='3'>{{ frame.roll_two }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for frame in frame_list %}
                <td colspan='6' id="marker0">{{ frame.frame_score }}</td>
                {% endfor %}
            </tr>

        </table>
    </div>
    <h1 id="comments" class="notice"></h1>
    <h1 id="gameover" class="notice"></h1>
    <h1 id="yourscore" class="final-score"></h1>
    <div id="playagain"></div>


</body>

</html>
