{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scoring_app/scoresheet.css' %}">
</head>

<body>

    <h1 class="title" style="color: whitesmoke;font-size: 30px;margin-top: 0em;">Bowling Score Card</h1>
    <div id='scorecard'>
        <table id='scorecardTable' class='scorecard' cellpadding='1' cellspacing='0'>

            <tr>
                {% for frame in frame_list %}
                <th {% if frame.frame_is_active %}style="background-color: green;" {% endif %} colspan='6'>Frame
                    {{ frame.frame_no }}</th>
                {% endfor %}
            </tr>

            <tr>
                {% for frame in frame_list %}
                <td colspan='3'>{{ frame.roll_one }}</td>
                <td id="frame1" colspan='3'>{{ frame.roll_two }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for frame in frame_list %}
                <td colspan='6' id="marker0">{{ frame.frame_score }}</td>
                {% endfor %}
            </tr>

        </table>
    </div>
    <h1 id="comments" class="notice"></h1>
    <h1 id="gameover" class="notice"></h1>
    <h1 id="yourscore" class="final-score"></h1>
    <div id="playagain"></div>


</body>

</html>
